<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

</head>
<body>
<div layout:fragment="continut" class="container">
    <div class="row">
        <div class="col-sm-4 card mb-4 shadow-sm">
            <!-- Codes by HTML.am -->

            <!-- CSS Code -->
            <style type="text/css" scoped>
                img.GeneratedImage {
                    width:300px;height:225px;margin:10px;border-width:6px;border-color:#000000;border-style:solid;
                }
            </style>

            <img src="/about-me.jpg" alt="Photo " class="GeneratedImage">

        </div>
        <div class="col-sm-8">
            <br>
            <h5>
                <p>Sunt Horatiu Handragel</p>

                <p>Sunt inginer industrializarea lemnului si am absolvit facultatea de industria lemnului in anul
                    2007 .<br><br>
                    Momentan imi administrez propria afacere, bineinteles tot in domeniul lemnului.<br><br>
                    Detin un mic atelier de tamplarie, unde realizez scari din lemn, pervaze pentru ferestre si
                    mic mobilier din lemn.<br>
                    <br>
                    Imi plac sporturile extreme si am practicat mountain bike, escalada si snowboarding.<br><br>
                    Mi-ar placea ca intr-o zi sa pot sa sar cu parapanta sau bungee jumping, dar trebuie sa mai
                    gasesc ceva curaj de "cumparat" :). <br><br>

                    Imi plac drumetiile montane, plimbarile in natura, pescuitul , si mai sunt cateva chestii...<br><br>
                    Sa auzim de bine.
                </p></h5>
        </div>
    </div>
</div>
</body>
</html>

